$font-all: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,428&display=swap');
$font-h2: 'EB Garamond', serif;

.wrapper {
  font-family: $font-all;
  .first-section {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url(../Material-20211021T213338Z-001/Material/Bilder/adam-miller.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .fa-arrow-down {
      color: white;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      font-size: 1.5rem;
    }
  }
  header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    .dropdown {
      visibility: hidden;
    }
    span {
      background-color: black;
      height: 0.375rem;
      width: 2.5rem;
      border-radius: 1.875rem;
      display: block;
      margin-bottom: 5px;
      align-items: right;
      z-index: 3;
    }
    span:nth-child(2) {
      margin-right: 10px;
      transition: margin 0.5s ease-in-out;
    }
    &.open {
      cursor: pointer;
      span:nth-child(2) {
        margin-right: 0px;
        transition: margin 0.5s ease-in-out;
      }
      .dropdown {
        visibility: visible;
      }
    }
  }
}

.dropdown {
  position: absolute;
  top: 0em;
  right: 0em;
  height: 100vh;
  min-width: 100vw;
  background-color: #e6e6e6b8;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  a:any-link {
    color: black;
    text-decoration: none;
    font-size: 3em;
    font-family: $font-all;
    font-weight: bolder;
    text-shadow: 0px 4px rgb(206, 199, 199);
  }
}

.first-section {
  article {
    margin-left: 1rem;
    padding: 1rem;
    max-width: 10rem;
    position: relative;
    top: 4.375rem;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h1 {
      font-size: 3rem;
      font-weight: bolder;
      font-family: 'Rubik', sans-serif;
      max-width: 8rem;
      margin-top: 0em;
      margin-bottom: 1.25rem;
      line-height: 2.8125rem;
      text-transform: uppercase;
    }
    a {
      align-self: flex-start;
      text-decoration: none;
      color: black;
      font-size: small;
      position: relative;
      .fa-arrow-right {
        position: absolute;
        top: 3px;
        margin-left: 0.3125rem;
        transition: margin 0.25s ease-in-out;
      }
      &:hover {
        .fa-arrow-right {
          transition: margin 0.5s ease-in-out;
          margin-left: 0.75rem;
        }
      }
    }
  }
}

main {
  color: white;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../Material-20211021T213338Z-001/Material/Bilder/raphael13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1px;
  padding-left: 2.5em;
  padding-right: 2em;
  padding-bottom: 10em;
  line-height: 1.6;
  position: relative;

  h2 {
    font-size: 4.5em;
    margin-top: 0.4em;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      left: 4rem;
      top: 1.625rem;
      opacity: 0.7;
      font-family: $font-h2;
    }
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-weight: 300;
  }
  .left {
    article:nth-child(2) {
      margin-left: 3rem !important;
        z-index: 999;
      q{
        font-size: 1.5rem;
        quotes: '\275D''\275E';
        font-style: italic;
        font-weight: 100;

        span {
          font-family: 'Rubik', sans-serif;
          display: inline-block;
          position: relative;
        
        }
        &::before {
          font-size: 2rem;
          position: relative;
          top: 3rem;
          left: -0.6rem;
          z-index: 1;
        }

        &::after {
          font-size: 2rem;
          position: relative;
          top: -2.5rem;
          right: -4.7rem;
          z-index: 1;
        }
      }
    }
  }
}
.right {
  article:first-child {
    q {
      display: none;
    }
  }
  article:nth-child(2) {
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    a:any-link {
      color: rgb(209, 0, 161);
      text-shadow: 0 0 1px rgb(209, 0, 161);
      position: relative;
      i {
        position: absolute;
        top: 0.3rem;
        margin-left: 0.3125rem;
        transition: margin 0.5s ease-in-out;
      }
      &:hover {
        i {
          transition: margin 0.25s ease-in-out;
          margin-left: 0.75rem;
        }
      }
    }
    img{
      visibility: hidden;
      position: absolute;
      left: -100000;
    }
  }
}

footer {
  position: absolute;
  bottom: 0em;
  right: 0em;
  left: 0em;
  max-width: 100vw;
  background-color: #03061f;
  padding: 0.5rem;
  font-size: small;
  color: rgb(209, 0, 161);
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    max-width: 75%;
    text-shadow: 0 0 2px rgb(209, 0, 161);
  }

  button {
    background-color: #07115f;
    border: none;
    color: white;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    font-size: x-small;
  }
}
